/* Main styles */

.chaney-title {
	background-color: Pink;
	text-align:center;
}

.chaney-title h1 {
	font-family: @appFont;
	margin-top: 0px;
	padding-top: @titlePaddingV;
	font-size: 60px;
	color: @mainColor;
}

.chaney-title h2 {
	font-family: @appFont;
	font-size: 20px;
	margin-top: -12px;
	margin-left: 150px;
	padding-bottom: @titlePaddingV;
}

.main-color {
	color: @mainColor;
}