<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'OVERVIEW.ADD_UNIQUE' | translate}}</h4>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="newElementName">{{ 'GLOBAL.NAME' | translate}}</label>
               <div class="col-sm-10">
                    <input class="form-control" id="newElementName" ng-model="newElement.name" type="text" required="true"/>
               </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="newElementValue">{{ 'GLOBAL.VALUE' | translate}}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="newElementValue" ng-model="newElement.value" type="text" required="true"/>
               </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="newElementDate">{{ 'GLOBAL.DATE' | translate}}</label>
                <div class="col-sm-10">
                    <datepicker id="newElementDate" ng-model="newElement.date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ 'GLOBAL.OK' | translate }}</button>
         <button class="btn" ng-click="cancel()">{{ 'GLOBAL.CANCEL' | translate }}</button>
    </div>
</div>