/* Import Less files */
/* Variables */
/* Fonts */
@font-face {
  font-family: "Lobster";
  src: url("/assets/fonts/Lobster.otf");
}
/* Main styles */
.chaney-title {
  background-color: Pink;
  text-align: center;
}
.chaney-title h1 {
  font-family: "Lobster";
  margin-top: 0px;
  padding-top: 15px;
  font-size: 60px;
  color: #ee0055;
}
.chaney-title h2 {
  font-family: "Lobster";
  font-size: 20px;
  margin-top: -12px;
  margin-left: 150px;
  padding-bottom: 15px;
}
.main-color {
  color: #ee0055;
}
/* List styles */
/* Chart styles */
.chart-container canvas {
  height: 100%;
}
