/* Import Less files */
/* Variables */
/* Fonts */
@font-face {
  font-family: "Lobster";
  src: url("/assets/fonts/Lobster.otf");
}
/* Main styles */
body {
  background-image: url("/assets/images/chaney-background.jpg");
}
.chaney-title h1 {
  font-family: "Lobster";
  font-size: 50px;
  color: #ee0055;
}
.chaney-title h2 {
  font-family: "Lobster";
  font-size: 20px;
  margin-top: -10px;
  margin-left: 70px;
  color: #eeeeee;
}
.main-color {
  color: #ee0055;
}
.chaney-container {
  background-color: #eeeeee;
  min-height: 500px;
}
/* List styles */
.expense {
  color: red;
}
.income {
  color: green;
}
.chart {
  height: 500px;
  padding: 20px;
}
